:root {
    --bg-color: #f2dbc0;
    --dark-text: #362417;
    --black: #04030F;
    --white: #ECECEC;
}

body {
    font-family: Georgia, 'Times New Roman', serif;
}

header {
    background-color: #1A1A1A;
    opacity: 50%;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem 1rem;
}

header:hover {
    opacity: 100%;
    transition: opacity 0.5s;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: 5rem;
}

.logo {
    background: url('./images/logo.png');
    background-size: cover;
    height: 2rem;
    width: 1.5rem;
    margin-right: -1rem;
}

nav ul h2 {
    color: var(--white);
    margin-right: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    padding-block: 1rem;
}

nav ul li a:hover, .selected {
    border-bottom: 2px solid var(--white);
}

.hero {
    background: url('./images/restaurant.jpg');
    background-size: cover;
    background-position: center center;
    height: 20rem;
}

.description {
    color: var(--dark-text);
    background-color: var(--bg-color);
    padding: 2rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.description.home {
    min-height: calc(100vh - 20rem);
}

.description p {
    width: 75ch;
}

.desc-pic {
    height: 10rem;
    border: 0.25rem solid var(--dark-text);
    aspect-ratio: 1 / 1;
}

.desc-pic.adobo {
    background: url(./images/adobo.jpg);
    background-size: cover;
    background-position: right center;
}

.first-item {
    margin-top: 4rem;
}